<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>aimingMissileLine_4_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1261,50}</string>
                <key>spriteSourceSize</key>
                <string>{1261,50}</string>
                <key>textureRect</key>
                <string>{{0,550},{1261,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aimingMissileLine_4_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1261,50}</string>
                <key>spriteSourceSize</key>
                <string>{1261,50}</string>
                <key>textureRect</key>
                <string>{{0,400},{1261,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aimingMissileLine_4_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1261,50}</string>
                <key>spriteSourceSize</key>
                <string>{1261,50}</string>
                <key>textureRect</key>
                <string>{{0,500},{1261,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aimingMissile_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,70}</string>
                <key>spriteSourceSize</key>
                <string>{120,70}</string>
                <key>textureRect</key>
                <string>{{315,0},{120,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bullet_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,35}</string>
                <key>spriteSourceSize</key>
                <string>{35,35}</string>
                <key>textureRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>normalMissileLine_4_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1261,50}</string>
                <key>spriteSourceSize</key>
                <string>{1261,50}</string>
                <key>textureRect</key>
                <string>{{0,600},{1261,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>normalMissileLine_4_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1261,50}</string>
                <key>spriteSourceSize</key>
                <string>{1261,50}</string>
                <key>textureRect</key>
                <string>{{0,350},{1261,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>normalMissileLine_4_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1261,50}</string>
                <key>spriteSourceSize</key>
                <string>{1261,50}</string>
                <key>textureRect</key>
                <string>{{0,450},{1261,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>normalMissile_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,70}</string>
                <key>spriteSourceSize</key>
                <string>{120,70}</string>
                <key>textureRect</key>
                <string>{{435,0},{120,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>planet_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,350}</string>
                <key>spriteSourceSize</key>
                <string>{350,350}</string>
                <key>textureRect</key>
                <string>{{555,0},{350,350}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{115,0},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player4_big.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{215,0},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stickBullet_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,60}</string>
                <key>spriteSourceSize</key>
                <string>{80,60}</string>
                <key>textureRect</key>
                <string>{{35,0},{80,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>characterTexturePack_4.png</string>
            <key>size</key>
            <string>{1261,650}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:35630491b2b4c35b00c153b2d6188bf0:7538449285b3dde6ac06fb3d16709df3:0a401f482f740b77d4847d678cb08e67$</string>
            <key>textureFileName</key>
            <string>characterTexturePack_4.png</string>
        </dict>
    </dict>
</plist>
