<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>aimingMissileLine_1_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1261,50}</string>
                <key>spriteSourceSize</key>
                <string>{1261,50}</string>
                <key>textureRect</key>
                <string>{{0,550},{1261,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aimingMissileLine_1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1261,50}</string>
                <key>spriteSourceSize</key>
                <string>{1261,50}</string>
                <key>textureRect</key>
                <string>{{0,400},{1261,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aimingMissileLine_1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1261,50}</string>
                <key>spriteSourceSize</key>
                <string>{1261,50}</string>
                <key>textureRect</key>
                <string>{{0,500},{1261,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aimingMissile_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,70}</string>
                <key>spriteSourceSize</key>
                <string>{120,70}</string>
                <key>textureRect</key>
                <string>{{244,0},{120,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bullet_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,20}</string>
                <key>spriteSourceSize</key>
                <string>{24,20}</string>
                <key>textureRect</key>
                <string>{{0,0},{24,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>normalMissileLine_1_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1261,50}</string>
                <key>spriteSourceSize</key>
                <string>{1261,50}</string>
                <key>textureRect</key>
                <string>{{0,600},{1261,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>normalMissileLine_1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1261,50}</string>
                <key>spriteSourceSize</key>
                <string>{1261,50}</string>
                <key>textureRect</key>
                <string>{{0,350},{1261,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>normalMissileLine_1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1261,50}</string>
                <key>spriteSourceSize</key>
                <string>{1261,50}</string>
                <key>textureRect</key>
                <string>{{0,450},{1261,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>normalMissile_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,70}</string>
                <key>spriteSourceSize</key>
                <string>{120,70}</string>
                <key>textureRect</key>
                <string>{{364,0},{120,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>planet_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,350}</string>
                <key>spriteSourceSize</key>
                <string>{350,350}</string>
                <key>textureRect</key>
                <string>{{484,0},{350,350}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,84}</string>
                <key>spriteSourceSize</key>
                <string>{70,84}</string>
                <key>textureRect</key>
                <string>{{24,0},{70,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player1_big.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,84}</string>
                <key>spriteSourceSize</key>
                <string>{70,84}</string>
                <key>textureRect</key>
                <string>{{94,0},{70,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stickBullet_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,60}</string>
                <key>spriteSourceSize</key>
                <string>{80,60}</string>
                <key>textureRect</key>
                <string>{{164,0},{80,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>characterTexturePack_1.png</string>
            <key>size</key>
            <string>{1261,650}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2fc5bb52d72615233b8067f685a58811:a8d2463774362298dc664f8a147189b9:898fddd44b9a6bdfe228703f959d5789$</string>
            <key>textureFileName</key>
            <string>characterTexturePack_1.png</string>
        </dict>
    </dict>
</plist>
