<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>aimingMissileLine_0_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1261,50}</string>
                <key>spriteSourceSize</key>
                <string>{1261,50}</string>
                <key>textureRect</key>
                <string>{{0,550},{1261,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aimingMissileLine_0_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1261,50}</string>
                <key>spriteSourceSize</key>
                <string>{1261,50}</string>
                <key>textureRect</key>
                <string>{{0,400},{1261,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aimingMissileLine_0_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1261,50}</string>
                <key>spriteSourceSize</key>
                <string>{1261,50}</string>
                <key>textureRect</key>
                <string>{{0,500},{1261,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aimingMissile_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,70}</string>
                <key>spriteSourceSize</key>
                <string>{120,70}</string>
                <key>textureRect</key>
                <string>{{278,0},{120,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bullet_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,20}</string>
                <key>spriteSourceSize</key>
                <string>{24,20}</string>
                <key>textureRect</key>
                <string>{{0,0},{24,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>normalMissileLine_0_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1261,50}</string>
                <key>spriteSourceSize</key>
                <string>{1261,50}</string>
                <key>textureRect</key>
                <string>{{0,600},{1261,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>normalMissileLine_0_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1261,50}</string>
                <key>spriteSourceSize</key>
                <string>{1261,50}</string>
                <key>textureRect</key>
                <string>{{0,350},{1261,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>normalMissileLine_0_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1261,50}</string>
                <key>spriteSourceSize</key>
                <string>{1261,50}</string>
                <key>textureRect</key>
                <string>{{0,450},{1261,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>normalMissile_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,70}</string>
                <key>spriteSourceSize</key>
                <string>{120,70}</string>
                <key>textureRect</key>
                <string>{{398,0},{120,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>planet_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,350}</string>
                <key>spriteSourceSize</key>
                <string>{350,350}</string>
                <key>textureRect</key>
                <string>{{518,0},{350,350}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,84}</string>
                <key>spriteSourceSize</key>
                <string>{70,84}</string>
                <key>textureRect</key>
                <string>{{24,0},{70,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player0_big.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,122}</string>
                <key>spriteSourceSize</key>
                <string>{104,122}</string>
                <key>textureRect</key>
                <string>{{174,0},{104,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stickBullet_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,60}</string>
                <key>spriteSourceSize</key>
                <string>{80,60}</string>
                <key>textureRect</key>
                <string>{{94,0},{80,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>characterTexturePack_0.png</string>
            <key>size</key>
            <string>{1261,650}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:67545995f48522902780b7caa0dfe0c0:0c77046bdcb22f42bf22ed55d955a06c:e24acd239cfb86f0571740add0a87403$</string>
            <key>textureFileName</key>
            <string>characterTexturePack_0.png</string>
        </dict>
    </dict>
</plist>
