<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>crown_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,73}</string>
                <key>spriteSize</key>
                <string>{67,32}</string>
                <key>spriteSourceSize</key>
                <string>{175,210}</string>
                <key>textureRect</key>
                <string>{{87,79},{67,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>crown_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,69}</string>
                <key>spriteSize</key>
                <string>{67,34}</string>
                <key>spriteSourceSize</key>
                <string>{175,210}</string>
                <key>textureRect</key>
                <string>{{8,8},{67,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crown_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,58}</string>
                <key>spriteSize</key>
                <string>{61,32}</string>
                <key>spriteSourceSize</key>
                <string>{175,210}</string>
                <key>textureRect</key>
                <string>{{8,110},{61,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crown_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,52}</string>
                <key>spriteSize</key>
                <string>{63,36}</string>
                <key>spriteSourceSize</key>
                <string>{175,210}</string>
                <key>textureRect</key>
                <string>{{8,58},{63,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crown_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,70}</string>
                <key>spriteSize</key>
                <string>{55,26}</string>
                <key>spriteSourceSize</key>
                <string>{175,210}</string>
                <key>textureRect</key>
                <string>{{91,8},{55,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>crown_texture_pack.png</string>
            <key>size</key>
            <string>{127,154}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:56e4515da7159e089c16df949b845d71:b8d5030a70c913c57c5e1689bc510321:eb383e5c2f75d50b3d62d37728ade43a$</string>
            <key>textureFileName</key>
            <string>crown_texture_pack.png</string>
        </dict>
    </dict>
</plist>
