<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>crown_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,73}</string>
                <key>spriteSize</key>
                <string>{70,34}</string>
                <key>spriteSourceSize</key>
                <string>{140,210}</string>
                <key>textureRect</key>
                <string>{{87,79},{70,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>crown_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,69}</string>
                <key>spriteSize</key>
                <string>{70,36}</string>
                <key>spriteSourceSize</key>
                <string>{140,210}</string>
                <key>textureRect</key>
                <string>{{7,7},{70,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crown_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,58}</string>
                <key>spriteSize</key>
                <string>{62,34}</string>
                <key>spriteSourceSize</key>
                <string>{140,210}</string>
                <key>textureRect</key>
                <string>{{7,109},{62,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crown_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,52}</string>
                <key>spriteSize</key>
                <string>{66,38}</string>
                <key>spriteSourceSize</key>
                <string>{140,210}</string>
                <key>textureRect</key>
                <string>{{7,57},{66,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crown_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,70}</string>
                <key>spriteSize</key>
                <string>{58,28}</string>
                <key>spriteSourceSize</key>
                <string>{140,210}</string>
                <key>textureRect</key>
                <string>{{91,7},{58,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>crown_texture_pack.png</string>
            <key>size</key>
            <string>{128,156}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1d2f9dc2fc41ec978bc19cb41ca3be5b:ae871336c4761275f3d2cdc5940cd27c:eb383e5c2f75d50b3d62d37728ade43a$</string>
            <key>textureFileName</key>
            <string>crown_texture_pack.png</string>
        </dict>
    </dict>
</plist>
