<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bonusLetter_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,44}</string>
                <key>spriteSourceSize</key>
                <string>{39,44}</string>
                <key>textureRect</key>
                <string>{{0,0},{39,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonusLetter_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,44}</string>
                <key>spriteSourceSize</key>
                <string>{39,44}</string>
                <key>textureRect</key>
                <string>{{44,0},{39,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonusLetter_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,44}</string>
                <key>spriteSourceSize</key>
                <string>{39,44}</string>
                <key>textureRect</key>
                <string>{{88,0},{39,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonusLetter_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,44}</string>
                <key>spriteSourceSize</key>
                <string>{39,44}</string>
                <key>textureRect</key>
                <string>{{132,0},{39,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonusLetter_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,45}</string>
                <key>spriteSourceSize</key>
                <string>{39,45}</string>
                <key>textureRect</key>
                <string>{{176,0},{39,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonusLetter_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,44}</string>
                <key>spriteSourceSize</key>
                <string>{39,44}</string>
                <key>textureRect</key>
                <string>{{220,0},{39,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonusLetter_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,44}</string>
                <key>spriteSourceSize</key>
                <string>{39,44}</string>
                <key>textureRect</key>
                <string>{{264,0},{39,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonusLetter_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,44}</string>
                <key>spriteSourceSize</key>
                <string>{39,44}</string>
                <key>textureRect</key>
                <string>{{308,0},{39,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonusLetter_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,44}</string>
                <key>spriteSourceSize</key>
                <string>{39,44}</string>
                <key>textureRect</key>
                <string>{{352,0},{39,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coin_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,116}</string>
                <key>spriteSourceSize</key>
                <string>{116,116}</string>
                <key>textureRect</key>
                <string>{{396,0},{116,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coin_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,116}</string>
                <key>spriteSourceSize</key>
                <string>{116,116}</string>
                <key>textureRect</key>
                <string>{{517,0},{116,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coin_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,116}</string>
                <key>spriteSourceSize</key>
                <string>{116,116}</string>
                <key>textureRect</key>
                <string>{{638,0},{116,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coin_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{759,0},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coin_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{844,0},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playItem_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,106}</string>
                <key>spriteSourceSize</key>
                <string>{108,106}</string>
                <key>textureRect</key>
                <string>{{929,0},{108,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playItem_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,106}</string>
                <key>spriteSourceSize</key>
                <string>{108,106}</string>
                <key>textureRect</key>
                <string>{{1042,0},{108,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playItem_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,106}</string>
                <key>spriteSourceSize</key>
                <string>{108,106}</string>
                <key>textureRect</key>
                <string>{{1155,0},{108,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playItem_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,106}</string>
                <key>spriteSourceSize</key>
                <string>{108,106}</string>
                <key>textureRect</key>
                <string>{{1268,0},{108,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playItem_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,106}</string>
                <key>spriteSourceSize</key>
                <string>{108,106}</string>
                <key>textureRect</key>
                <string>{{1381,0},{108,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playItem_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,106}</string>
                <key>spriteSourceSize</key>
                <string>{108,106}</string>
                <key>textureRect</key>
                <string>{{1494,0},{108,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playItem_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,57}</string>
                <key>spriteSourceSize</key>
                <string>{56,57}</string>
                <key>textureRect</key>
                <string>{{1607,0},{56,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,108}</string>
                <key>spriteSourceSize</key>
                <string>{108,108}</string>
                <key>textureRect</key>
                <string>{{1668,0},{108,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,108}</string>
                <key>spriteSourceSize</key>
                <string>{108,108}</string>
                <key>textureRect</key>
                <string>{{1781,0},{108,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,108}</string>
                <key>spriteSourceSize</key>
                <string>{108,108}</string>
                <key>textureRect</key>
                <string>{{1894,0},{108,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,55}</string>
                <key>spriteSourceSize</key>
                <string>{56,55}</string>
                <key>textureRect</key>
                <string>{{0,121},{56,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,55}</string>
                <key>spriteSourceSize</key>
                <string>{56,55}</string>
                <key>textureRect</key>
                <string>{{61,121},{56,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>test.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1200,30}</string>
                <key>spriteSourceSize</key>
                <string>{1200,30}</string>
                <key>textureRect</key>
                <string>{{122,121},{1200,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>defaultBulletTexturePack.png</string>
            <key>size</key>
            <string>{2002,176}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bac091c81f87932321161a31d40d4c0f:58d53743c14730046f9a29ad0b756f90:0f174fe9ab09145795cf6406f39b78bb$</string>
            <key>textureFileName</key>
            <string>defaultBulletTexturePack.png</string>
        </dict>
    </dict>
</plist>
