<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>normal_bullet_normal_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{5,5},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>normal_bullet_stick_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,0}</string>
                <key>spriteSize</key>
                <string>{188,108}</string>
                <key>spriteSourceSize</key>
                <string>{200,120}</string>
                <key>textureRect</key>
                <string>{{303,5},{188,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>normal_missile_aiming_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{198,84}</string>
                <key>spriteSourceSize</key>
                <string>{200,100}</string>
                <key>textureRect</key>
                <string>{{95,5},{198,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>normal_missile_normal_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{198,84}</string>
                <key>spriteSourceSize</key>
                <string>{200,100}</string>
                <key>textureRect</key>
                <string>{{95,5},{198,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>normal_planet_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,0}</string>
                <key>spriteSize</key>
                <string>{766,778}</string>
                <key>spriteSourceSize</key>
                <string>{950,950}</string>
                <key>textureRect</key>
                <string>{{5,123},{766,778}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>defaultTexturePack_3.png</string>
            <key>size</key>
            <string>{788,894}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dd9731d3ef03a5a27a14caba02aa8bf7:2ebc76c1c3819719752be54c5c02b7a7:75b966cfea6fa149dbe141a5bef833a8$</string>
            <key>textureFileName</key>
            <string>defaultTexturePack_3.png</string>
        </dict>
    </dict>
</plist>
