<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>normal_bullet_normal_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{428,781},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>normal_bullet_stick_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,0}</string>
                <key>spriteSize</key>
                <string>{188,108}</string>
                <key>spriteSourceSize</key>
                <string>{200,120}</string>
                <key>textureRect</key>
                <string>{{238,781},{188,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>normal_missile_aiming_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,145}</string>
                <key>spriteSourceSize</key>
                <string>{235,145}</string>
                <key>textureRect</key>
                <string>{{1,781},{235,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>normal_missile_normal_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,145}</string>
                <key>spriteSourceSize</key>
                <string>{235,145}</string>
                <key>textureRect</key>
                <string>{{1,781},{235,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>normal_planet_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,0}</string>
                <key>spriteSize</key>
                <string>{766,778}</string>
                <key>spriteSourceSize</key>
                <string>{950,950}</string>
                <key>textureRect</key>
                <string>{{1,1},{766,778}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>defaultTexturePack_0.png</string>
            <key>size</key>
            <string>{768,927}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ef4291b78e4d25939b9e22bf17d99632:1b32b385787d6799edf932cfc7a9716b:75b966cfea6fa149dbe141a5bef833a8$</string>
            <key>textureFileName</key>
            <string>defaultTexturePack_0.png</string>
        </dict>
    </dict>
</plist>
