<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bonusLetter_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,44}</string>
                <key>spriteSourceSize</key>
                <string>{39,44}</string>
                <key>textureRect</key>
                <string>{{955,190},{39,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bonusLetter_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,44}</string>
                <key>spriteSourceSize</key>
                <string>{39,44}</string>
                <key>textureRect</key>
                <string>{{1,183},{39,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonusLetter_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,44}</string>
                <key>spriteSourceSize</key>
                <string>{39,44}</string>
                <key>textureRect</key>
                <string>{{42,183},{39,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonusLetter_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,44}</string>
                <key>spriteSourceSize</key>
                <string>{39,44}</string>
                <key>textureRect</key>
                <string>{{83,183},{39,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonusLetter_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,45}</string>
                <key>spriteSourceSize</key>
                <string>{39,45}</string>
                <key>textureRect</key>
                <string>{{908,190},{39,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bonusLetter_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,44}</string>
                <key>spriteSourceSize</key>
                <string>{39,44}</string>
                <key>textureRect</key>
                <string>{{124,183},{39,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonusLetter_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{17,44}</string>
                <key>spriteSourceSize</key>
                <string>{39,44}</string>
                <key>textureRect</key>
                <string>{{819,208},{17,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bonusLetter_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,44}</string>
                <key>spriteSourceSize</key>
                <string>{39,44}</string>
                <key>textureRect</key>
                <string>{{165,183},{39,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonusLetter_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,44}</string>
                <key>spriteSourceSize</key>
                <string>{39,44}</string>
                <key>textureRect</key>
                <string>{{966,131},{39,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coin_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,75}</string>
                <key>spriteSourceSize</key>
                <string>{87,75}</string>
                <key>textureRect</key>
                <string>{{819,131},{87,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coin_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,75}</string>
                <key>spriteSourceSize</key>
                <string>{87,75}</string>
                <key>textureRect</key>
                <string>{{819,131},{87,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coin_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,75}</string>
                <key>spriteSourceSize</key>
                <string>{87,75}</string>
                <key>textureRect</key>
                <string>{{819,131},{87,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coin_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,75}</string>
                <key>spriteSourceSize</key>
                <string>{87,75}</string>
                <key>textureRect</key>
                <string>{{819,131},{87,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coin_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,75}</string>
                <key>spriteSourceSize</key>
                <string>{87,75}</string>
                <key>textureRect</key>
                <string>{{819,131},{87,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flag.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,0}</string>
                <key>spriteSize</key>
                <string>{212,158}</string>
                <key>spriteSourceSize</key>
                <string>{270,158}</string>
                <key>textureRect</key>
                <string>{{1,23},{212,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playItem_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,106}</string>
                <key>spriteSourceSize</key>
                <string>{108,106}</string>
                <key>textureRect</key>
                <string>{{325,23},{108,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playItem_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,106}</string>
                <key>spriteSourceSize</key>
                <string>{108,106}</string>
                <key>textureRect</key>
                <string>{{435,23},{108,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playItem_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,106}</string>
                <key>spriteSourceSize</key>
                <string>{108,106}</string>
                <key>textureRect</key>
                <string>{{545,23},{108,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playItem_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,106}</string>
                <key>spriteSourceSize</key>
                <string>{108,106}</string>
                <key>textureRect</key>
                <string>{{655,23},{108,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playItem_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,106}</string>
                <key>spriteSourceSize</key>
                <string>{108,106}</string>
                <key>textureRect</key>
                <string>{{765,23},{108,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playItem_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,106}</string>
                <key>spriteSourceSize</key>
                <string>{108,106}</string>
                <key>textureRect</key>
                <string>{{875,23},{108,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playItem_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,57}</string>
                <key>spriteSourceSize</key>
                <string>{56,57}</string>
                <key>textureRect</key>
                <string>{{908,131},{56,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,100}</string>
                <key>spriteSourceSize</key>
                <string>{96,100}</string>
                <key>textureRect</key>
                <string>{{215,133},{96,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>star_1_.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,108}</string>
                <key>spriteSourceSize</key>
                <string>{108,108}</string>
                <key>textureRect</key>
                <string>{{215,23},{108,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star_1__.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{96,98}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{419,131},{96,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,100}</string>
                <key>spriteSourceSize</key>
                <string>{96,100}</string>
                <key>textureRect</key>
                <string>{{317,133},{96,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>star_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,100}</string>
                <key>spriteSourceSize</key>
                <string>{96,100}</string>
                <key>textureRect</key>
                <string>{{615,131},{96,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>star_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,100}</string>
                <key>spriteSourceSize</key>
                <string>{96,100}</string>
                <key>textureRect</key>
                <string>{{717,131},{96,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>star_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,98}</string>
                <key>spriteSourceSize</key>
                <string>{96,100}</string>
                <key>textureRect</key>
                <string>{{517,131},{96,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>test.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-99,0}</string>
                <key>spriteSize</key>
                <string>{1002,20}</string>
                <key>spriteSourceSize</key>
                <string>{1200,20}</string>
                <key>textureRect</key>
                <string>{{1,1},{1002,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>defaultBulletTexturePack.png</string>
            <key>size</key>
            <string>{1006,230}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b09f27a2eee1652be0e479dbc37dc19d:741c5abf7bdbbc9d9c9d89832d929820:0f174fe9ab09145795cf6406f39b78bb$</string>
            <key>textureFileName</key>
            <string>defaultBulletTexturePack.png</string>
        </dict>
    </dict>
</plist>
