<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>aimingMissileLine_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1261,150}</string>
                <key>spriteSourceSize</key>
                <string>{1261,150}</string>
                <key>textureRect</key>
                <string>{{518,0},{1261,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aimingMissile_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,70}</string>
                <key>spriteSourceSize</key>
                <string>{120,70}</string>
                <key>textureRect</key>
                <string>{{224,0},{120,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bullet_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,20}</string>
                <key>spriteSourceSize</key>
                <string>{24,20}</string>
                <key>textureRect</key>
                <string>{{0,0},{24,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>normalMissileLine_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1261,150}</string>
                <key>spriteSourceSize</key>
                <string>{1261,150}</string>
                <key>textureRect</key>
                <string>{{0,150},{1261,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>normalMissile_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,70}</string>
                <key>spriteSourceSize</key>
                <string>{120,70}</string>
                <key>textureRect</key>
                <string>{{104,0},{120,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>planet_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,350}</string>
                <key>spriteSourceSize</key>
                <string>{350,350}</string>
                <key>textureRect</key>
                <string>{{1261,150},{350,350}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,84}</string>
                <key>spriteSourceSize</key>
                <string>{70,84}</string>
                <key>textureRect</key>
                <string>{{344,0},{70,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player0_big.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,122}</string>
                <key>spriteSourceSize</key>
                <string>{104,122}</string>
                <key>textureRect</key>
                <string>{{414,0},{104,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stickBullet_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,60}</string>
                <key>spriteSourceSize</key>
                <string>{80,60}</string>
                <key>textureRect</key>
                <string>{{24,0},{80,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>testpacker.png</string>
            <key>size</key>
            <string>{1779,500}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4e697aed7e1d2f9d6049664757bc8625:4d8f7a2e2a4252d22253db71b4385bac:9c148efccc9297e22c7dcab3c0857eea$</string>
            <key>textureFileName</key>
            <string>testpacker.png</string>
        </dict>
    </dict>
</plist>
