<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>test_planet_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,12}</string>
                <key>spriteSize</key>
                <string>{680,660}</string>
                <key>spriteSourceSize</key>
                <string>{950,950}</string>
                <key>textureRect</key>
                <string>{{1355,1247},{680,660}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>test_planet_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-9}</string>
                <key>spriteSize</key>
                <string>{674,610}</string>
                <key>spriteSourceSize</key>
                <string>{950,950}</string>
                <key>textureRect</key>
                <string>{{673,597},{674,610}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>test_planet_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,17}</string>
                <key>spriteSize</key>
                <string>{672,644}</string>
                <key>spriteSourceSize</key>
                <string>{950,950}</string>
                <key>textureRect</key>
                <string>{{673,1217},{672,644}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>test_planet_45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-4}</string>
                <key>spriteSize</key>
                <string>{588,660}</string>
                <key>spriteSourceSize</key>
                <string>{950,950}</string>
                <key>textureRect</key>
                <string>{{1375,5},{588,660}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>test_planet_67.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{680,582}</string>
                <key>spriteSourceSize</key>
                <string>{950,950}</string>
                <key>textureRect</key>
                <string>{{685,5},{680,582}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>test_planet_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,18}</string>
                <key>spriteSize</key>
                <string>{594,658}</string>
                <key>spriteSourceSize</key>
                <string>{950,950}</string>
                <key>textureRect</key>
                <string>{{5,571},{594,658}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>test_planet_81.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,27}</string>
                <key>spriteSize</key>
                <string>{556,670}</string>
                <key>spriteSourceSize</key>
                <string>{950,950}</string>
                <key>textureRect</key>
                <string>{{5,5},{556,670}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>test_planet_89.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,18}</string>
                <key>spriteSize</key>
                <string>{658,652}</string>
                <key>spriteSourceSize</key>
                <string>{950,950}</string>
                <key>textureRect</key>
                <string>{{5,1175},{658,652}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>test_planet_97.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-40,26}</string>
                <key>spriteSize</key>
                <string>{634,666}</string>
                <key>spriteSourceSize</key>
                <string>{950,950}</string>
                <key>textureRect</key>
                <string>{{1357,603},{634,666}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>test_planet_5.png</string>
            <key>size</key>
            <string>{2040,1912}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6b681cbebe9299a6be73e7ab1d23b22a:01bee2636b972feb0dd26fc11d6c4b18:2e54da1187b6921f6fbd96d8f599f939$</string>
            <key>textureFileName</key>
            <string>test_planet_5.png</string>
        </dict>
    </dict>
</plist>
