<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>test_planet_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,30}</string>
                <key>spriteSize</key>
                <string>{626,626}</string>
                <key>spriteSourceSize</key>
                <string>{950,950}</string>
                <key>textureRect</key>
                <string>{{5,633},{626,626}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>test_planet_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-7}</string>
                <key>spriteSize</key>
                <string>{548,638}</string>
                <key>spriteSourceSize</key>
                <string>{950,950}</string>
                <key>textureRect</key>
                <string>{{5,1269},{548,638}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>test_planet_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,27}</string>
                <key>spriteSize</key>
                <string>{602,614}</string>
                <key>spriteSourceSize</key>
                <string>{950,950}</string>
                <key>textureRect</key>
                <string>{{1297,5},{602,614}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>test_planet_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,28}</string>
                <key>spriteSize</key>
                <string>{564,626}</string>
                <key>spriteSourceSize</key>
                <string>{950,950}</string>
                <key>textureRect</key>
                <string>{{1289,1217},{564,626}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>test_planet_63.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,33}</string>
                <key>spriteSize</key>
                <string>{580,626}</string>
                <key>spriteSourceSize</key>
                <string>{950,950}</string>
                <key>textureRect</key>
                <string>{{653,1201},{580,626}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>test_planet_82.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,21}</string>
                <key>spriteSize</key>
                <string>{634,576}</string>
                <key>spriteSourceSize</key>
                <string>{950,950}</string>
                <key>textureRect</key>
                <string>{{653,615},{634,576}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>test_planet_83.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{638,618}</string>
                <key>spriteSourceSize</key>
                <string>{950,950}</string>
                <key>textureRect</key>
                <string>{{5,5},{638,618}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>test_planet_88.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,5}</string>
                <key>spriteSize</key>
                <string>{600,634}</string>
                <key>spriteSourceSize</key>
                <string>{950,950}</string>
                <key>textureRect</key>
                <string>{{653,5},{600,634}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>test_planet_94.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-11}</string>
                <key>spriteSize</key>
                <string>{608,590}</string>
                <key>spriteSourceSize</key>
                <string>{950,950}</string>
                <key>textureRect</key>
                <string>{{1297,617},{608,590}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>test_planet_8.png</string>
            <key>size</key>
            <string>{1920,1822}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6b681cbebe9299a6be73e7ab1d23b22a:01bee2636b972feb0dd26fc11d6c4b18:2e54da1187b6921f6fbd96d8f599f939$</string>
            <key>textureFileName</key>
            <string>test_planet_8.png</string>
        </dict>
    </dict>
</plist>
