<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>test_planet_99.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{950,950}</string>
                <key>spriteSourceSize</key>
                <string>{950,950}</string>
                <key>textureRect</key>
                <string>{{0,0},{950,950}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>test_planet_12.png</string>
            <key>size</key>
            <string>{950,950}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4c4e5dc8373761d4f90ca53ada1b2657:77fef6494bbb1e6fcc631a17779e3f47:7f9cecd597f755115b46d96ae361d90e$</string>
            <key>textureFileName</key>
            <string>test_planet_12.png</string>
        </dict>
    </dict>
</plist>
