<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>test_planet_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-31}</string>
                <key>spriteSize</key>
                <string>{596,604}</string>
                <key>spriteSourceSize</key>
                <string>{950,950}</string>
                <key>textureRect</key>
                <string>{{1227,1189},{596,604}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>test_planet_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-6}</string>
                <key>spriteSize</key>
                <string>{598,574}</string>
                <key>spriteSourceSize</key>
                <string>{950,950}</string>
                <key>textureRect</key>
                <string>{{1231,5},{598,574}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>test_planet_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-14}</string>
                <key>spriteSize</key>
                <string>{606,560}</string>
                <key>spriteSourceSize</key>
                <string>{950,950}</string>
                <key>textureRect</key>
                <string>{{5,5},{606,560}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>test_planet_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,33}</string>
                <key>spriteSize</key>
                <string>{586,600}</string>
                <key>spriteSourceSize</key>
                <string>{950,950}</string>
                <key>textureRect</key>
                <string>{{617,585},{586,600}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>test_planet_48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-4}</string>
                <key>spriteSize</key>
                <string>{570,600}</string>
                <key>spriteSourceSize</key>
                <string>{950,950}</string>
                <key>textureRect</key>
                <string>{{621,5},{570,600}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>test_planet_50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-11}</string>
                <key>spriteSize</key>
                <string>{590,596}</string>
                <key>spriteSourceSize</key>
                <string>{950,950}</string>
                <key>textureRect</key>
                <string>{{1227,589},{590,596}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>test_planet_57.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{32,26}</string>
                <key>spriteSize</key>
                <string>{604,596}</string>
                <key>spriteSourceSize</key>
                <string>{950,950}</string>
                <key>textureRect</key>
                <string>{{613,1181},{604,596}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>test_planet_64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,21}</string>
                <key>spriteSize</key>
                <string>{576,602}</string>
                <key>spriteSourceSize</key>
                <string>{950,950}</string>
                <key>textureRect</key>
                <string>{{5,575},{576,602}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>test_planet_95.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,21}</string>
                <key>spriteSize</key>
                <string>{598,604}</string>
                <key>spriteSourceSize</key>
                <string>{950,950}</string>
                <key>textureRect</key>
                <string>{{5,1161},{598,604}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>test_planet_9.png</string>
            <key>size</key>
            <string>{1836,1790}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6b681cbebe9299a6be73e7ab1d23b22a:01bee2636b972feb0dd26fc11d6c4b18:2e54da1187b6921f6fbd96d8f599f939$</string>
            <key>textureFileName</key>
            <string>test_planet_9.png</string>
        </dict>
    </dict>
</plist>
