<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>test_planet_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{638,618}</string>
                <key>spriteSourceSize</key>
                <string>{950,950}</string>
                <key>textureRect</key>
                <string>{{1309,611},{638,618}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>test_planet_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,32}</string>
                <key>spriteSize</key>
                <string>{588,642}</string>
                <key>spriteSourceSize</key>
                <string>{950,950}</string>
                <key>textureRect</key>
                <string>{{659,5},{588,642}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>test_planet_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,18}</string>
                <key>spriteSize</key>
                <string>{644,636}</string>
                <key>spriteSourceSize</key>
                <string>{950,950}</string>
                <key>textureRect</key>
                <string>{{655,1229},{644,636}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>test_planet_47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,38}</string>
                <key>spriteSize</key>
                <string>{636,640}</string>
                <key>spriteSourceSize</key>
                <string>{950,950}</string>
                <key>textureRect</key>
                <string>{{5,1187},{636,640}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>test_planet_54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-3}</string>
                <key>spriteSize</key>
                <string>{556,644}</string>
                <key>spriteSourceSize</key>
                <string>{950,950}</string>
                <key>textureRect</key>
                <string>{{5,5},{556,644}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>test_planet_70.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-1}</string>
                <key>spriteSize</key>
                <string>{644,644}</string>
                <key>spriteSourceSize</key>
                <string>{950,950}</string>
                <key>textureRect</key>
                <string>{{1309,1239},{644,644}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>test_planet_76.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-5}</string>
                <key>spriteSize</key>
                <string>{642,606}</string>
                <key>spriteSourceSize</key>
                <string>{950,950}</string>
                <key>textureRect</key>
                <string>{{5,571},{642,606}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>test_planet_79.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,25}</string>
                <key>spriteSize</key>
                <string>{596,640}</string>
                <key>spriteSourceSize</key>
                <string>{950,950}</string>
                <key>textureRect</key>
                <string>{{1311,5},{596,640}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>test_planet_86.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-28}</string>
                <key>spriteSize</key>
                <string>{642,616}</string>
                <key>spriteSourceSize</key>
                <string>{950,950}</string>
                <key>textureRect</key>
                <string>{{657,603},{642,616}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>test_planet_7.png</string>
            <key>size</key>
            <string>{1958,1888}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6b681cbebe9299a6be73e7ab1d23b22a:01bee2636b972feb0dd26fc11d6c4b18:2e54da1187b6921f6fbd96d8f599f939$</string>
            <key>textureFileName</key>
            <string>test_planet_7.png</string>
        </dict>
    </dict>
</plist>
