<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>test_planet_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{692,692}</string>
                <key>spriteSourceSize</key>
                <string>{950,950}</string>
                <key>textureRect</key>
                <string>{{5,5},{692,692}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>test_planet_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-7}</string>
                <key>spriteSize</key>
                <string>{640,644}</string>
                <key>spriteSourceSize</key>
                <string>{950,950}</string>
                <key>textureRect</key>
                <string>{{1335,1403},{640,644}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>test_planet_39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{27,-7}</string>
                <key>spriteSize</key>
                <string>{690,588}</string>
                <key>spriteSourceSize</key>
                <string>{950,950}</string>
                <key>textureRect</key>
                <string>{{5,707},{690,588}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>test_planet_49.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{652,636}</string>
                <key>spriteSourceSize</key>
                <string>{950,950}</string>
                <key>textureRect</key>
                <string>{{673,1407},{652,636}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>test_planet_55.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-16}</string>
                <key>spriteSize</key>
                <string>{580,690}</string>
                <key>spriteSourceSize</key>
                <string>{950,950}</string>
                <key>textureRect</key>
                <string>{{707,5},{580,690}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>test_planet_65.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,30}</string>
                <key>spriteSize</key>
                <string>{644,688}</string>
                <key>spriteSourceSize</key>
                <string>{950,950}</string>
                <key>textureRect</key>
                <string>{{1195,705},{644,688}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>test_planet_71.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,0}</string>
                <key>spriteSize</key>
                <string>{636,658}</string>
                <key>spriteSourceSize</key>
                <string>{950,950}</string>
                <key>textureRect</key>
                <string>{{5,1407},{636,658}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>test_planet_72.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-22}</string>
                <key>spriteSize</key>
                <string>{582,690}</string>
                <key>spriteSourceSize</key>
                <string>{950,950}</string>
                <key>textureRect</key>
                <string>{{603,707},{582,690}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>test_planet_84.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,3}</string>
                <key>spriteSize</key>
                <string>{682,678}</string>
                <key>spriteSourceSize</key>
                <string>{950,950}</string>
                <key>textureRect</key>
                <string>{{1297,5},{682,678}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>test_planet_4.png</string>
            <key>size</key>
            <string>{1984,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6b681cbebe9299a6be73e7ab1d23b22a:01bee2636b972feb0dd26fc11d6c4b18:2e54da1187b6921f6fbd96d8f599f939$</string>
            <key>textureFileName</key>
            <string>test_planet_4.png</string>
        </dict>
    </dict>
</plist>
