<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>test_planet_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,7}</string>
                <key>spriteSize</key>
                <string>{594,594}</string>
                <key>spriteSourceSize</key>
                <string>{950,950}</string>
                <key>textureRect</key>
                <string>{{5,5},{594,594}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>test_planet_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-9}</string>
                <key>spriteSize</key>
                <string>{538,578}</string>
                <key>spriteSourceSize</key>
                <string>{950,950}</string>
                <key>textureRect</key>
                <string>{{1167,1171},{538,578}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>test_planet_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-8}</string>
                <key>spriteSize</key>
                <string>{596,584}</string>
                <key>spriteSourceSize</key>
                <string>{950,950}</string>
                <key>textureRect</key>
                <string>{{5,609},{596,584}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>test_planet_51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-2}</string>
                <key>spriteSize</key>
                <string>{584,536}</string>
                <key>spriteSourceSize</key>
                <string>{950,950}</string>
                <key>textureRect</key>
                <string>{{1195,5},{584,536}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>test_planet_56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{568,558}</string>
                <key>spriteSourceSize</key>
                <string>{950,950}</string>
                <key>textureRect</key>
                <string>{{599,1211},{568,558}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>test_planet_61.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,3}</string>
                <key>spriteSize</key>
                <string>{572,562}</string>
                <key>spriteSourceSize</key>
                <string>{950,950}</string>
                <key>textureRect</key>
                <string>{{1159,599},{572,562}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>test_planet_78.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-20}</string>
                <key>spriteSize</key>
                <string>{584,584}</string>
                <key>spriteSourceSize</key>
                <string>{950,950}</string>
                <key>textureRect</key>
                <string>{{5,1215},{584,584}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>test_planet_80.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,3}</string>
                <key>spriteSize</key>
                <string>{592,550}</string>
                <key>spriteSourceSize</key>
                <string>{950,950}</string>
                <key>textureRect</key>
                <string>{{599,609},{592,550}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>test_planet_90.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,33}</string>
                <key>spriteSize</key>
                <string>{576,584}</string>
                <key>spriteSourceSize</key>
                <string>{950,950}</string>
                <key>textureRect</key>
                <string>{{609,5},{576,584}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>test_planet_10.png</string>
            <key>size</key>
            <string>{1736,1804}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6b681cbebe9299a6be73e7ab1d23b22a:01bee2636b972feb0dd26fc11d6c4b18:2e54da1187b6921f6fbd96d8f599f939$</string>
            <key>textureFileName</key>
            <string>test_planet_10.png</string>
        </dict>
    </dict>
</plist>
