<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>test_planet_100.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,0}</string>
                <key>spriteSize</key>
                <string>{766,778}</string>
                <key>spriteSourceSize</key>
                <string>{950,950}</string>
                <key>textureRect</key>
                <string>{{5,5},{766,778}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>test_planet_13.png</string>
            <key>size</key>
            <string>{776,788}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:32dc6a5548b2558c9a53244259bceaee:ad8371728287115580296ab7ae831695:0730594b9fd7a3e097dbf10b34a94291$</string>
            <key>textureFileName</key>
            <string>test_planet_13.png</string>
        </dict>
    </dict>
</plist>
