<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>test_planet_41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,22}</string>
                <key>spriteSize</key>
                <string>{704,668}</string>
                <key>spriteSourceSize</key>
                <string>{950,950}</string>
                <key>textureRect</key>
                <string>{{5,5},{704,668}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>test_planet_52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,9}</string>
                <key>spriteSize</key>
                <string>{614,650}</string>
                <key>spriteSourceSize</key>
                <string>{950,950}</string>
                <key>textureRect</key>
                <string>{{1427,5},{614,650}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>test_planet_53.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,33}</string>
                <key>spriteSize</key>
                <string>{612,618}</string>
                <key>spriteSourceSize</key>
                <string>{950,950}</string>
                <key>textureRect</key>
                <string>{{1337,1379},{612,618}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>test_planet_58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-3}</string>
                <key>spriteSize</key>
                <string>{612,622}</string>
                <key>spriteSourceSize</key>
                <string>{950,950}</string>
                <key>textureRect</key>
                <string>{{715,1379},{612,622}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>test_planet_69.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{660,702}</string>
                <key>spriteSourceSize</key>
                <string>{950,950}</string>
                <key>textureRect</key>
                <string>{{5,683},{660,702}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>test_planet_73.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,23}</string>
                <key>spriteSize</key>
                <string>{680,682}</string>
                <key>spriteSourceSize</key>
                <string>{950,950}</string>
                <key>textureRect</key>
                <string>{{1361,679},{680,682}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>test_planet_74.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-9}</string>
                <key>spriteSize</key>
                <string>{700,642}</string>
                <key>spriteSourceSize</key>
                <string>{950,950}</string>
                <key>textureRect</key>
                <string>{{5,1395},{700,642}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>test_planet_87.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{676,686}</string>
                <key>spriteSourceSize</key>
                <string>{950,950}</string>
                <key>textureRect</key>
                <string>{{675,683},{676,686}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>test_planet_93.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,-8}</string>
                <key>spriteSize</key>
                <string>{698,664}</string>
                <key>spriteSourceSize</key>
                <string>{950,950}</string>
                <key>textureRect</key>
                <string>{{719,5},{698,664}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>test_planet_2.png</string>
            <key>size</key>
            <string>{2046,2042}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6b681cbebe9299a6be73e7ab1d23b22a:01bee2636b972feb0dd26fc11d6c4b18:2e54da1187b6921f6fbd96d8f599f939$</string>
            <key>textureFileName</key>
            <string>test_planet_2.png</string>
        </dict>
    </dict>
</plist>
