<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>coin_1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{87,75}</string>
			<key>spriteSourceSize</key>
			<string>{87,75}</string>
			<key>textureRect</key>
			<string>{{924,170},{87,75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>coin_2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{87,75}</string>
			<key>spriteSourceSize</key>
			<string>{87,75}</string>
			<key>textureRect</key>
			<string>{{924,170},{87,75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>coin_3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{87,75}</string>
			<key>spriteSourceSize</key>
			<string>{87,75}</string>
			<key>textureRect</key>
			<string>{{924,170},{87,75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>coin_4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{87,75}</string>
			<key>spriteSourceSize</key>
			<string>{87,75}</string>
			<key>textureRect</key>
			<string>{{924,170},{87,75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>coin_5.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{87,75}</string>
			<key>spriteSourceSize</key>
			<string>{87,75}</string>
			<key>textureRect</key>
			<string>{{924,170},{87,75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>fireParticle.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{130,130}</string>
			<key>spriteSourceSize</key>
			<string>{140,140}</string>
			<key>textureRect</key>
			<string>{{227,345},{130,130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>playItem_1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{108,106}</string>
			<key>spriteSourceSize</key>
			<string>{108,106}</string>
			<key>textureRect</key>
			<string>{{606,633},{108,106}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>playItem_2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,0}</string>
			<key>spriteSize</key>
			<string>{124,124}</string>
			<key>spriteSourceSize</key>
			<string>{140,140}</string>
			<key>textureRect</key>
			<string>{{227,495},{124,124}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>playItem_3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,0}</string>
			<key>spriteSize</key>
			<string>{124,124}</string>
			<key>spriteSourceSize</key>
			<string>{140,140}</string>
			<key>textureRect</key>
			<string>{{371,495},{124,124}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>playItem_4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,0}</string>
			<key>spriteSize</key>
			<string>{124,124}</string>
			<key>spriteSourceSize</key>
			<string>{140,140}</string>
			<key>textureRect</key>
			<string>{{377,345},{124,124}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>playItem_5.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,0}</string>
			<key>spriteSize</key>
			<string>{124,124}</string>
			<key>spriteSourceSize</key>
			<string>{140,140}</string>
			<key>textureRect</key>
			<string>{{515,489},{124,124}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>playItem_6.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,0}</string>
			<key>spriteSize</key>
			<string>{124,124}</string>
			<key>spriteSourceSize</key>
			<string>{140,140}</string>
			<key>textureRect</key>
			<string>{{444,50},{124,124}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>playItem_7.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{56,57}</string>
			<key>spriteSourceSize</key>
			<string>{56,57}</string>
			<key>textureRect</key>
			<string>{{659,554},{56,57}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>rivalBullet_1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{275,197}</string>
			<key>spriteSourceSize</key>
			<string>{275,197}</string>
			<key>textureRect</key>
			<string>{{10,50},{275,197}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>rivalBullet_2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{275,197}</string>
			<key>spriteSourceSize</key>
			<string>{275,197}</string>
			<key>textureRect</key>
			<string>{{10,345},{275,197}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>rivalBullet_3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{275,197}</string>
			<key>spriteSourceSize</key>
			<string>{275,197}</string>
			<key>textureRect</key>
			<string>{{227,50},{275,197}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>star_1_0.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{100,100}</string>
			<key>spriteSourceSize</key>
			<string>{100,100}</string>
			<key>textureRect</key>
			<string>{{246,639},{100,100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>star_1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{96,100}</string>
			<key>spriteSourceSize</key>
			<string>{96,100}</string>
			<key>textureRect</key>
			<string>{{126,640},{96,100}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>star_1_1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{100,100}</string>
			<key>spriteSourceSize</key>
			<string>{100,100}</string>
			<key>textureRect</key>
			<string>{{366,639},{100,100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>star_1_2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{100,100}</string>
			<key>spriteSourceSize</key>
			<string>{100,100}</string>
			<key>textureRect</key>
			<string>{{486,639},{100,100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>star_1_3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{100,100}</string>
			<key>spriteSourceSize</key>
			<string>{100,100}</string>
			<key>textureRect</key>
			<string>{{444,194},{100,100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>star_1_4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{100,100}</string>
			<key>spriteSourceSize</key>
			<string>{100,100}</string>
			<key>textureRect</key>
			<string>{{521,314},{100,100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>star_1_5.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{100,100}</string>
			<key>spriteSourceSize</key>
			<string>{100,100}</string>
			<key>textureRect</key>
			<string>{{564,194},{100,100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>star_2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{96,100}</string>
			<key>spriteSourceSize</key>
			<string>{96,100}</string>
			<key>textureRect</key>
			<string>{{854,410},{96,100}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>star_2_1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{100,100}</string>
			<key>spriteSourceSize</key>
			<string>{100,100}</string>
			<key>textureRect</key>
			<string>{{588,50},{100,100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>star_2_2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{100,100}</string>
			<key>spriteSourceSize</key>
			<string>{100,100}</string>
			<key>textureRect</key>
			<string>{{641,314},{100,100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>star_2_3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{100,100}</string>
			<key>spriteSourceSize</key>
			<string>{100,100}</string>
			<key>textureRect</key>
			<string>{{684,170},{100,100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>star_2_4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{100,100}</string>
			<key>spriteSourceSize</key>
			<string>{100,100}</string>
			<key>textureRect</key>
			<string>{{708,50},{100,100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>star_2_5.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{100,100}</string>
			<key>spriteSourceSize</key>
			<string>{100,100}</string>
			<key>textureRect</key>
			<string>{{659,434},{100,100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>star_3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{96,100}</string>
			<key>spriteSourceSize</key>
			<string>{96,100}</string>
			<key>textureRect</key>
			<string>{{854,526},{96,100}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>star_3_1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{100,100}</string>
			<key>spriteSourceSize</key>
			<string>{100,100}</string>
			<key>textureRect</key>
			<string>{{734,631},{100,100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>star_3_2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{100,100}</string>
			<key>spriteSourceSize</key>
			<string>{100,100}</string>
			<key>textureRect</key>
			<string>{{761,290},{100,100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>star_3_3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{100,100}</string>
			<key>spriteSourceSize</key>
			<string>{100,100}</string>
			<key>textureRect</key>
			<string>{{804,170},{100,100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>star_3_4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{100,100}</string>
			<key>spriteSourceSize</key>
			<string>{100,100}</string>
			<key>textureRect</key>
			<string>{{828,50},{100,100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>star_3_5.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{100,100}</string>
			<key>spriteSourceSize</key>
			<string>{100,100}</string>
			<key>textureRect</key>
			<string>{{881,290},{100,100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>star_4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{96,100}</string>
			<key>spriteSourceSize</key>
			<string>{96,100}</string>
			<key>textureRect</key>
			<string>{{854,642},{96,100}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>star_5.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{96,98}</string>
			<key>spriteSourceSize</key>
			<string>{96,100}</string>
			<key>textureRect</key>
			<string>{{10,640},{96,98}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>test.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-99,0}</string>
			<key>spriteSize</key>
			<string>{1002,20}</string>
			<key>spriteSourceSize</key>
			<string>{1200,20}</string>
			<key>textureRect</key>
			<string>{{10,10},{1002,20}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>defaultBulletTexturePack.png</string>
		<key>size</key>
		<string>{1022,749}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:4457e75968b994263048b09514685d0e:bc55a228f95f3ccc3d0aa6c358aaccf2:0f174fe9ab09145795cf6406f39b78bb$</string>
		<key>textureFileName</key>
		<string>defaultBulletTexturePack.png</string>
	</dict>
</dict>
</plist>
